html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "微軟正黑體";
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
main {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}
select,
input {
  outline: none;
}
html {
  background: white;
  box-sizing: border-box;
  margin: 0px auto;
  // user-select: none;
}
a:link {
  text-decoration: none;
}

//content
html {
  width: 100%;
  height: 100%;
  background-color: #323232;

  body {
    min-width: 1100px;
    height: auto;
    overflow: hidden;

    main {
      width: 100%;
      height: 1000px;
      overflow: hidden;
      position: relative;

      .center {
        width: 1100px;
        height: 100%;
        display: flex;
        margin: 0 auto;
        position: relative;

        .top {
          width: 100%;
          height: 50%;
          position: relative;

          .logo {
            width: 418px;
            height: 219px;
            background: url(../img/LOGO.png) no-repeat center;
            background-size: contain;
            z-index: 100;
            position: absolute;
            top: 83px;
            left: 60px;
            animation: invisible 0.2s ease-in-out, showup 0.2s ease-in-out forwards;
          }

          .inputBox {
            width: auto;
            height: auto;
            display: flex;
            position: absolute;
            top: 134px;
            left: 526px;
            z-index: 100;
            animation: invisible 0.2s ease-in-out, fadeIn 0.2s 0.2s ease-in-out forwards;

            .input {
              display: flex;
              flex-direction: column;

              label {
                position: relative;

                .deco1 {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 0 46px 15px;
                  border-color: transparent transparent #e7e9ec transparent ;
                  position: absolute;
                  top: 0;
                  left: -15px;
                }

                .deco2 {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 0 46px 15px;
                  border-color: transparent transparent transparent #e7e9ec;
                  position: absolute;
                  top: 0;
                  left: 224px;
                }
  
                .inputIc {
                  width: 19px;
                  height: 21px;
                  background: url(../img/inputIC.png) no-repeat;
                  background-size: 200%;
                  position: absolute;
                  top: 10px;
                  left: 10px;

                  &.id {
                    background-position-x: 0%;
                  }

                  &.pw {
                    background-position-x: 100%;
                  }
                }
  
                input {
                  width: 224px;
                  height: 46px;
                  background: #e7e9ec;
                  border: none;
                  color: #a81014;
                  font-size: 20px;
                  font-weight: bold;
                  letter-spacing: -1px;
                  padding: 0 44px;
                  box-sizing: border-box;
  
                  &::placeholder {
                    color: #a81014;
                    font-size: 20px;
                  }
                }
  
                &.id {
                  position: absolute;
                  top: -1px;
                  left: -24px;
                }
  
                &.pw {
                  position: absolute;
                  top: 57px;
                  left: -41px;
                }
              }
  
            }

            button {
              width: 186px;
              height: 105px;
              background: linear-gradient(
                to top,
                #d7d7d7 0%,
                #ffffff 100%
              );
              clip-path: polygon(18% 0%, 100% 0%, 82% 100%, 0% 100%);
              color: #ea001a;
              font-size: 29px;
              font-weight: bold;
              position: absolute;
              top: 1px;
              left: 195px;
              z-index: 4;

              &:hover,
              &:active,
              &.active {
                background: linear-gradient(
                to top,
                #ff2400 0%,
                #ffae00 100%
              );
                color: #ffffff;
              }
            }
          }

          .unionLogo {
            width: 243px;
            height: 43px;
            background: url(../img/union.png) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 246px;
            left: 470px;
            z-index: 5;
            animation: invisible 0.2s ease-in-out, fadeIn 0.2s 0.2s ease-in-out forwards;
          }
        }

        .bottom {
          width: 100%;
          height: 50%;
          position: relative;

          .mainObject {
            width: 1208px;
            height: 679px;
            background: url(../img/mainObject.png) no-repeat;
            background-size: contain;
            position: absolute;
            top: 321px;
            left: -680px;
            z-index: 4;
            opacity: 0;
            animation:  invisible 0.8s ease-in-out, showIn 0.1s 0.8s ease-in forwards;

            &.second {
              width: 465px;
              height: 365px;
              position: absolute;
              top: 321px;
              left: -299px;
              z-index: 2;
              animation: invisible 0.1s ease-in-out, showIn2 1s 0.1s ease-in-out forwards;
            }
          }
        }
      }

      .bg2 {
        width: 1920px;
        height: 1000px;
        background: url(../img/BG2.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        animation: invisible 0.1s ease-in-out, 0.2s 0.1s ease-in-out forwards;
      }

      //背景
      .bg {
        width: 100%;
        min-width: 1100px;
        height: 100%;
        background: url(../img/BG.png) no-repeat top center;
        position: absolute;
        top: 0;
        z-index: -999;
      }
    }
  }
}
@keyframes invisible {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

@keyframes showup {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showIn {
  0% {
    top: 165px;
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    top: 321px;
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    top: 321px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showIn2 {
  0% {
    top: 321px;
    left: -2000px;
    transform: skewX(0deg);
    opacity: 0;
  }
  60% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
  70% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
  90% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
  95% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
  100% {
    top: 321px;
    left: -299px;
    transform: skewX(-10deg);
    opacity: 1;
  }
}
